
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    РоссияЯрославская область <br />
    Тутаев <br />
    ул.Промышленная, д.2а <br />
    152300<br />
    <abbr title="Телефон">P:</abbr>
    +7 485 337-48-48
</address>

<address>
    <strong>почта:</strong> <a href="mailto:titanstroi@bk.ru">titanstroi@bk.ru</a><br />
</address>
